[submodule "Saturn/vendor/spdlog"]
	path = Saturn/vendor/spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "Saturn/vendor/glfw"]
	path = Saturn/vendor/glfw
	url = https://github.com/MaroueneBoughoufa/glfw.git
[submodule "Saturn/vendor/imgui"]
	path = Saturn/vendor/imgui
	url = https://github.com/MaroueneBoughoufa/imgui.git
[submodule "Saturn/vendor/glm"]
	path = Saturn/vendor/glm
	url = https://github.com/g-truc/glm.git
