## Binary folders 
bin/
bin-int/

## Codelite stuff
.codelite/
*.workspace
*.project
*.cbp
*.layout

## Visual Studio stuff
.vs/
*.sln
*.vcxproj*
*.log
*.def
*.obj
*.hint

## Makefile stuff
Makefile
*.mk

## ImGui stuff
*imgui.ini

## Other stuff
.vscode/
scripts/__pycache__/
vendor/premake/bin/

*.json
